@import '../../styles/colors';
@import '../../styles/typography';

.Scheduler {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-gap: 20px;

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 16px 0;
    text-align: center;
    font-size: rem(12px);
    font-weight: bold;
    border: 1px solid transparent;
    
    &__bg {
      background: $dark-pink;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      position: absolute;
    }
    
    &--selected {
      border-color: #49D657;
    }

    &--loading {
      animation: pulse 1.5s infinite;
    }
  }
}
