$primary-blue: #23c9ff;
$secondary-blue: #7ac7fd;
$lilac: #cad5ff;
$primary-pink: #e6bce5;
$secondary-pink: #c684a7;
$background: #fcfcfc;
$light-gray: #ededed;
$error: #ffa9c1
$tertiary-text-color: #8a8a8a;
$primary-text: #2f2f2f;
