@import 'reset.scss';
@import 'typography.scss';
@import 'colors.scss';

.container {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
}

.section {
  margin-bottom: 35px;
}

body {
  background: $background;
}

.shadow {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}
