@import 'reset.scss';
@import 'typography.scss';
@import 'colors.scss';

.container {
  margin: 0 10px;
  max-width: 100%;
}

body {
  background: $background;
}

.shadow {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}
