@import '../../styles/colors';
@import '../../styles/typography';

@mixin square {
  flex-grow: 1;
  height: 18px;
  border-right: 1px solid #fff;

  &:last-child {
    border-right: none;
  }
}

.Heatmap {
  margin-top: 5px;

  &__squares {
    display: flex;
    justify-content: space-between;
  }
}

.Square {
  @include square;
  background: $light-gray;
  position: relative;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0000;
  }
}

.Legend {
  display: flex;
  justify-content: space-between;
  color: $tertiary-text-color;

  &__hour {
    position: relative;
    font-size: rem(10px);
    flex: 1;

    &:nth-child(3n + 2),
    &:nth-child(3n + 3) {
      visibility: hidden;
    }
    &:last-child {
      visibility: visible;
    }
  }
}
