@import '../../styles/colors';
@import '../../styles/typography';

.Category-bar {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  flex-flow: row;
  margin-bottom: 15px;
  align-items: center;

  h3 {
    position: relative;
    padding-left: 10px;
    font-size: rem(16px);
    margin-bottom: 0;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 4px;
      left: 0;
      top: 0;
      background-color: $primary-pink;
      border-radius: 3px;
    }
  }
}
