@import '../../styles/colors';
@import '../../styles/typography';

.Category-bar {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  flex-flow: row;
  margin-bottom: 15px;
  align-items: center;

  h3 {
    border-left: 5px solid $primary-pink;
    padding-left: 10px;
    font-size: rem(16px);
    margin-bottom: 0;
  }
}
