@import '../../styles/colors';

$border-radius: 5px;
$padding-x: 12px;
$border-color: rgba($secondary-pink, 0.13);

.Search {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: $border-radius;
  border: 1px solid $border-color;

  &__form {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: $border-radius;

    .Search--hasresult & {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &__input {
      flex-grow: 1;
      position: relative;
      border: none;
      outline: none;
      padding: 0 $padding-x;
      background: #fff;
      height: 100%;
      border-radius: $border-radius;
    }

    &__icon {
      display: inline-block;
      padding: 0 $padding-x;
      align-self: center;
      font-size: 18px;
      color: $primary-pink;
    }
  }
}
